<div class="container">
  <div class="row mb-3">
    <div class="col border-bottom border-secondary">
      <h2>{{product.title}}</h2>
    </div> 
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-8">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <img src="{{product.main_image}}" class="card-img"> 
            </div>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-6">
            <div class="card">
              <img src="{{product.second_image}}" class="card-img"> 
            </div>
          </div>
  
          <div class="col-6">
            <div class="card">
              <img src="{{product.third_image}}" class="card-img"> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <aside class="col-12 col-md-4 border-start border-secondary">
      <div>
        <h3>${{product.price}}</h3>
        <p>{{product.description}}</p>
      </div>
    </aside>
  </div>

  <div class="row mb-3">
    <div class="col">
      <textarea class="form-control" id="addComment" rows="1" placeholder="Add comment..."></textarea>
    </div>
    <div class="col">
      <button class="btn btn-primary" id="commentSubmit" data-product="{{product.id}}" data-userId="{{userId}}" type="submit">Post</button>
    </div>
  </div>

  {{#each comments as |comment|}}
  <div class="row mb-3 border-bottom border-secondary border-opacity-50">
    <div class="col-2"> 
      <h5>{{comment.username}}</h3>
    </div>
    <div class="col-10">
      <p>{{comment.comment}}</p>
    </div>
  </div>
  {{/each}}

</div>
<script src="/scripts/product.js"></script>