<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="border-bottom border-secondary py-2 mb-3">Searching in zip</h2>
    </div>
  </div>

  <div class="row">

    {{#each cards as |card|}}
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xxl-3 mb-3">
      <div class="card" data-id="{{card.id}}">
        <img src="{{card.img}}" class="card-img-top" alt="{{card.alt}}">
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">{{card.desc}}</p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>